{% extends isAJAX ? 'ajax.html.twig' : 'base.html.twig' %}
{% block title %}New discounts{% endblock %}
{% block content %}
    <h1>Total discounts <span id="discountsAmount">{{ discounts|length }}</span></h1>
    <a href="{{ url("updateDiscounts") }}" id="btnUpdate" class="btn btn-info">Update discounts</a>

    {% block dynamic_content %}
    <div id="dynamicContent">
        <div class="row" id="discountsList">
        {% for discount in discounts %}
            {% if discount.isVisible %}
            {{ block('discount') }}
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endblock %}
{% endblock %}

{% block discount %}
<div class="col-lg-4 discount" data-id="{{ discount.id }}" data-date-found="{{ discount.dateFound|date("Y-m-d H:i:s") }}">
    <div class="card">
        <div class="card-header">
            <button type="button" class="close hide-discount" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <a href="{{ discount.URL }}" target="_blank">{{ discount.shop }}</a><br/>
            {% if discount.isExpired %}<span class="badge badge-danger float-right">EXPIRED</span>{% endif %}
            {{ discount.value }}
        </div>
        <div class="card-body">
            <p> <span class="badge badge-info float-right" title="Discount code" t>{{ discount.code }}</span>
                {{ discount.description }}
            </p>
            <p{% if discount.isExpired %} class="text-danger"{% endif %}>Expire at: {{ discount.expireDate|date("Y-m-d H:i") }}
            </p>
        </div>
        <div class="card-footer">
            <a href="{{ url('hideDiscount', {"id": discount.id}) }}" class="btn btn-info hide-discount">Hide</a>
        </div>
    </div>
</div>
{% endblock %}